* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifÐ´;
}

body {
    background-image: url(https://templatemo.com/templates/templatemo_557_grad_school/assets/images/choosing-bg.jpg);
    background-size: cover;
}

header {
    background-color: rgba(22, 34, 57, 0.95);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 70px;
}

header h1 {
    font-style: 40px;
    color: gold;
}

header h1 span {
    color: white;
}

header ul {
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 20px;
}

header a {
    text-decoration: none;
    color: white;
}

.banner {
    width: 100%;
    position: relative;
    height: 100vh;
}

.banner video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.banner>div {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    flex-direction: column;
    gap: 15px;
    background-color: rgba(22, 34, 57, 0.85);
    text-transform: uppercase;
}

.banner>div h4 {
    color: white;
    font-size: 20px;
}

.banner>div>h1 {
    color: gold;
    font-size: 80px;
}

.banner>div>h1 span {
    color: white;
}

.banner>div button {
    background-color: gold;
    padding: 10px 20px;
}

.banner_services {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translateY(300px);
    gap: 15px;
    flex-wrap: wrap;
}

.banner_services div {
    width: 350px;
    height: 50px;
    overflow: hidden;
    display: flex;
    justify-content: start;
    overflow: hidden;
    padding: 10px 20px;
    align-items: start;
    flex-direction: column;
    gap: 15px;
    background-color: rgba(22, 34, 57, 0.95);
    transition: .4s;
}

.banner_services div h1 {
    font-size: 30px;
    color: white;
}

.banner_services div p {
    color: white;
}

.banner_services div a {
    color: white;
}

.banner_services div:hover {
    height: 280px;
    background-color: gold;
    padding: 20px;
}

.Best_Education_contenyer {
    padding: 50px 0;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    overflow: hidden;
    flex-direction: column;
    gap: 50px;
}

.Best_Education_head h2 {
    width: 350px;
    border: 1px solid darkgray;
    padding: 10px;
    color: white;
    text-align: center;
}

.Best_Education_head ul {
    display: flex;
    list-style: none;
    gap: 350px;
}

div ul input {
    width: 22px;
    height: 22px;
}

.Best_Education_head {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    gap: 50px;
}

.Best_Education_body {
    display: flex;
    color: white;
    justify-content: space-evenly;
    width: 100%;
}

.Best_Education_body div {
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    font-size: 25px;
}

.online_course_contenyer {
    width: 100%;
    height: auto;
    position: relative;
    padding: 150px 0;
    gap: 15px;
    display: flex;
    justify-content: space-evenly;
    background-image: url(https://templatemo.com/templates/templatemo_557_grad_school/assets/images/coming-soon-bg.jpg);
    background-position: center;
    background-size: cover;
    align-items: center;
    overflow: hidden;
}

.online_course_contenyer div span {
    color: gold;
}

.online_course_contenyer div h1 {
    font-size: 33px;
}

.online_course_contenyer div ul {
    list-style: none;
    font-size: 33px;
    width: 100%;
}

.online_course_contenyer div form {
    width: 300px;
    height: 200px;
}

.online_course_contenyer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 15px;
}

.online_course_contenyer li {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.188);
    align-items: center;
    overflow: hidden;
    color: white;
    flex-direction: column;
    gap: 15px;
}

.online_course_contenyer li span {
    font-size: 30px;
}

.online_course_contenyer div h1 {
    color: white;
}

.timer_box {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 600px;
}

.online_course_contenyer div p {
    font-size: 15px;
    background-color: rgba(250, 250, 250, 0.2);
    color: white;
    padding: 60px 40px;
}

.timer_box2 {
    display: flex;
    justify-self: center;
    align-items: start;
    flex-direction: column;
    gap: 30px;
}

.online_course_contenyer div form {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    background-color: rgba(128, 128, 128, 0.188);
    align-items: center;
    overflow: hidden;
    color: white;
    padding: 40px;
    flex-direction: column;
    gap: 15px;

    input {
        background-color: rgba(128, 128, 128, 0.399);
        outline: none;
        border: 2px solid transparent;
        transition: .4s;
    }

    input:focus {
        border-color: wheat;
    }


    p {
        padding: 20px 30px;
        font-size: 25px;
        text-align: center;
    }
}

.online_course_contenyer div input {
    width: 100%;
    padding: 10px 20px;
    font-size: 18px;
}

.online_course_contenyer div button {
    background-color: gold;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
}

.online_course_contenyer div input::placeholder {
    color: rgba(255, 255, 255, 0.78);
}

.Choose_Your_Course {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Choose_Your_Course img {
    width: 100%;
    height: auto;
    display: flex;
}

.course {
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 15px;
}

.course>div {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 15px;
    flex-direction: column;
}

.course_container {
    display: flex;
    padding: 100px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.course_container h1 {
    width: max-content;
    padding: 10px 20px;
    border: 1px solid rgba(118, 118, 118, 0.738);
    color: white;
}

.course h3 {
    color: rgb(0, 0, 0);
}

.course h4 {
    color: rgb(0, 0, 0);
}

.course_container {
    display: flex;
    gap: 100px;
}

.course>div a {
    text-decoration: none;
}

.course div {
    width: 100%;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.course div img {
    width: 50px;
    border: 3px solid orange;
    border-radius: 50%;
}

.presentation_contenier {
    background-image: url(https://templatemo.com/templates/templatemo_557_grad_school/assets/images/video-bg.jpg);
    width: 100%;
    height: auto;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    background-repeat: no-repeat;
    padding: 100px 20px;
}

.presentation_img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.presentation_info h3 {
    color: white;
    font-size: 22px;
}

.presentation_info p {
    color: white;
    font-size: 35px;
}

.presentation_info p span {
    color: gold;
}

.presentation_info h5 {
    color: white;
    font-size: 16px;
}

.presentation_info h5 span {
    color: rgb(34, 34, 255);
}

.presentation_info button {
    background-color: gold;
    color: white;
    font-size: 15px;
    padding: 10px 20px;
}

.power_contenier {
    background-color: rgba(250, 250, 250, 0.75);
    height: auto;
    width: 100%;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.power_contenier a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    min-width: 60px;
    min-height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
}

.power_contenier h3 {
    font-size: 30px;
}


.contact_contenier {
    background-image: url(https://templatemo.com/templates/templatemo_557_grad_school/assets/images/contact-bg.jpg);
    width: 100%;
    padding: 100px 0;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.contact {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact iframe {
    width: 500px;
}

.contact form div {
    display: flex;
    gap: 15px;
    width: 100%;
    justify-content: center;
    align-items: center;

    input,
    textarea {
        width: 100%;
        background-color: rgba(128, 128, 128, 0.399);
        outline: none;
        border: 2px solid transparent;
        transition: .4s;
        padding: 10px 20px;

        &:focus {
            border-color: wheat;
        }

        &::placeholder {
            color: white;
        }
    }

    p {
        padding: 20px 30px;
        font-size: 25px;
        text-align: center;
    }
}

.contact form {
    width: 500px;
    padding: 20px;
    background-color: rgba(250, 250, 250, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.contact_contenier button {
    background-color: gold;
    color: white;
    font-size: 15px;
    padding: 10px 20px;
}

.contact_contenier h2 {
    width: max-content;
    padding: 10px 20px;
    border: 1px solid rgba(118, 118, 118, 0.738);
    color: white;
}

.contact>form>textarea {
    width: 100%;
    resize: vertical;
    height: 275px;
    background-color: rgba(128, 128, 128, 0.399);
    padding: 10px 20px;
    transition: .4s;


    &:focus {
        border-color: wheat;
    }

    &::placeholder {
        color: white;
    }

    outline: none;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer {
    color: white;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 30px 40px;
}

footer span {
    color: gold;
    width: 100%;
    height: auto;
}

.menubtn {
    display: none;
    width: 40px;
    height: 40px;
    color: white;
    font-size: 50px;
}

#menu {
    display: none;
}


#menubtn {
    display: none;
}

@media (min-width:768px) and (max-width:1024px) {
    header {
        z-index: 999;
        position: relative;
    }

    .banner>div>h1 {
        font-size: 60px;
    }

    .Best_Education_body {
        display: flex;
        flex-direction: column;
    }

    .Best_Education_body p {
        font-size: 35px;
        width: 100%;
        height: auto;
    }

    .Best_Education_body div {
        width: 100%;
        height: auto;
    }

    .Best_Education_head ul {
        display: flex;
        list-style: none;
        gap: 200px;
    }

    .online_course_contenyer {
        display: flex;
        flex-direction: column;
    }


    .presentation_contenier {
        display: flex;
        flex-direction: column;
    }

    nav {
        position: absolute;
        right: 0;
        top: 100%;
        overflow: hidden;
        height: 0;
    }

    nav ul {
        display: flex;
        flex-direction: column;
    }

    .menubtn {
        display: flex;
        flex-direction: none;
    }

    #menubtn:checked~nav {
        height: 300px;
        display: flex;
    }
}


@media (min-width:552px) and (max-width:768px) {
    header {
        z-index: 999;
        position: relative;
    }

    .banner>div>h1 {
        font-size: 50px;
    }

    .Best_Education_body {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
    }

    .Best_Education_body p {
        font-size: 25px;
        width: 100%;
        height: auto;
    }

    .Best_Education_body div {
        width: 100%;
        height: auto;
    }

    .Best_Education_head ul {
        display: flex;
        list-style: none;
        gap: 200px;
    }

    .online_course_contenyer {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
    }

    .timer_box {
        padding: 0 20px;
        font-size: 15px;
    }


    .presentation_contenier {
        display: flex;
        flex-direction: column;
        padding: 0 30px;
    }

    .presentation_contenier img {
        width: 100%;
    }

    .contact_contenier>div {
        display: flex;
        flex-direction: column;
    }

    nav {
        position: absolute;
        right: 0;
        top: 100%;
        overflow: hidden;
        height: 0;
    }

    nav ul {
        display: flex;
        flex-direction: column;
    }

    .menubtn {
        display: flex;
        flex-direction: none;
    }

    #menubtn:checked~nav {
        height: 200px;
        display: flex;
    }
}

@media (max-width:552px) {
    header {
        z-index: 999;
        position: relative;
    }

    .banner>div>h1 {
        font-size: 35px;
    }

    .banner>div>h4 {
        font-size: 15px;
    }


    .Best_Education_body {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
    }

    .Best_Education_body h1 {
        font-size: 41px;
    }

    .Best_Education_body p {
        font-size: 25px;
        width: 100%;
        height: auto;
    }

    .Best_Education_body div {
        width: 100%;
        height: auto;
    }

    .Best_Education_head ul {
        display: flex;
        list-style: none;
        gap: 200px;
    }

    .online_course_contenyer li {
        width: 75px;
        height: 75px;
        display: flex;
        justify-content: center;
        background-color: rgba(128, 128, 128, 0.188);
        align-items: center;
        overflow: hidden;
        color: white;
        flex-direction: column;
        gap: 15px;
    }

    .online_course_contenyer li span {
        font-size: 15px;
    }

    .online_course_contenyer {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
    }

    .timer_box {
        padding: 0 20px;
        font-size: 15px;
    }

    .online_course_contenyer div h1 {
        font-size: 20px;
    }

    .course_container {
        display: flex;
        padding: 100px 20px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .power_contenier h3 {
        font-size: 20px;
    }

    .presentation_contenier {
        display: flex;
        flex-direction: column;
        padding: 0 30px;
    }

    .presentation_contenier img {
        width: 100%;
    }

    .contact_contenier>div {
        display: flex;
        flex-direction: column;
    }

    .contact_contenier {
        background-image: url(https://templatemo.com/templates/templatemo_557_grad_school/assets/images/contact-bg.jpg);
        width: 100%;
        padding: 100px 0;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        padding: 100px 20px;
    }


    .contact iframe {
        width: 100%;
    }

    .contact form {
        width: 100%;
    }

    nav {
        position: absolute;
        right: 0;
        top: 100%;
        overflow: hidden;
        height: 0;
    }

    nav ul {
        display: flex;
        flex-direction: column;
    }


    .menubtn {
        display: flex;
        flex-direction: none;
    }


    #menubtn:checked~nav {
        height: 200px;
        display: flex;
    }

}